Binaries
Build
DerivedDataCache
Intermediate
Saved
Script
Plugins
enc_temp_folder
.idea
.vscode
.vs
.vsconfig
.ignore
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.code-workspace
*.xcodeproj
*.xcworkspace
*.log

Platforms/*
Content/Assets/*
Content/__ExternalActors__
Content/__ExternalObjects__
